*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: #000;
}
.sign_in, .sign_up{
    margin: 40px 0;
    
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
.sign-content{
    text-align: center;
    font-size: 15px;
}
.sing-inp{
    font-size: 30px;
}

.sign{
    font-size: 25px;
    margin-top: 15px;
    padding: 10px 20px;
    outline: none;
    border: none;
    border-radius: 25px;
    background-color: rgb(65, 70, 145);
    color: #fff;
    margin-right: 100px;
}
.reg{
    font-size: 25px;
    margin-top: 15px;
    padding: 10px 20px;
    outline: none;
    border: none;
    border-radius: 25px;
    background-color: rgb(65, 142, 145);
    color: #fff;

}
.sign:hover,.reg:hover{
    background-color: rgb(46, 27, 86);
}
.registr{
    font-size: 20px;
    color: blue;

}
